@charset "utf-8";
@import "reset.css";

/* lavalamp.nav.css - 라바 램프 네비게이션 디자인 스타일, 2012 © yamoo9.com
------------------------------------------------------------------- */

/* ///////////////////////////////////////// 
	=기본 스타일
///////////////////////////////////////// */	


/* ///////////////////////////////////////// 
	=#nav
///////////////////////////////////////// */	



/* ///////////////////////////////////////// 
	=Global Classes
///////////////////////////////////////// */

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	}
	.ie6 .clearfix { height: 1%; } /* IE6 */ 
	.ie7 .clearfix { min-height: 1px; } /* IE7 */

